.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 40px;
    background: #fff
}
.el {
    display: flex;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.inp {
    padding: 8px;
    color: #000;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 800;
    text-align: center;
    border: 2px solid rgb(43, 43, 58);
    border-radius: 4px;
}
.inp:focus {
    outline: none;
}
button {
    width: 40px;
    margin-left: 8px;
    border: 2px solid rgb(43, 43, 58);
    border-radius: 4px;
    transition: 0.2s;
}
button:hover {
    background: #000;
    color: #fff;
}
.info {
    margin-top: 40px;
    background: lawngreen;
    width: 200px;
    padding: 12px;
    opacity: 0;
    text-align: center;
    transition: 0.15s;
    animation: slideIn 1.5s linear forwards;
}